@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #161616;
  --foreground: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #161616;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes bounce-pulse {
  0%, 100% {
    transform: translateY(0);
    opacity: 0.4;
  }
  50% {
    transform: translateY(-10px);
    opacity: 1;
  }
}

.bounce-pulse {
  animation: bounce-pulse 2s infinite;
}
